@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

nav.navbar {padding: 1px;}


h3 {
    font-family: 'DM Sans', sans-serif;
}
h5 {font-family: 'DM Sans', sans-serif;
}

p {font-size: xx-large; font-family: 'DM Sans', sans-serif;}

#resume {font-size:larger;}