img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.nav {height: 40px; background: black; }

a.nav-link:hover {
    background: white
}

a.nav-link {
    color: aliceblue;
    display: block;
}

a.nav-link dropdown-toggle {
    color: aliceblue; 
    display: block
}

p {font-size: xx-large;}